@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    justify-content: space-between;
    background-color: #F9FAF8;
}

.header {
    display: flex;
    background-color: #121212;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    margin: 0 auto;
    width: 97.1vw;
    min-height: 250px;
    height: auto;
    color: #F9FAF8;
}

.headerImg {
    width: 280px;
    height: auto;
}

.headerTitle {
    font-size: 32px;
    font-weight: 900;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    height: 360px;
    

}
.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultText {
    margin: 24px;
    font-size: 24px;
}

.gameResults {
    display: flex;
    flex-direction: row;
}

.userResults, .computerResults{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 12px;
    padding: 12px;
    width: 90px;
    height: 90px;
    font-size: 24px;
}

#btnContainer button{
    margin: 0 12px;
    width: 96px;
    height: 36px;
    padding: 0px 8px;
    border-radius: 5px;
    border: 1px solid #969696;
    box-shadow: 2px 2px rgba(18, 18, 18, 0.7);
    background-color: #d8d8d8;
    transition: all .08s ease;
    font-size: 15px;
    font-weight: 700;
}

#btn1:hover:not([disabled]){
    transform: scale(1.1);
    background-color: #ffd5d5;
    border-color: #ff8080;
    box-shadow: 0 0 1rem #ff8080;
}
#btn2:hover:not([disabled]){
    transform: scale(1.1);
    background-color: #fff6d5;
    border-color: #ffdd55;
    box-shadow: 0 0 1rem #ffdd55;
}
#btn3:hover:not([disabled]){
    transform: scale(1.1);
    background-color: #f6d5ff;
    border-color: #e580ff;
    box-shadow: 0 0 1rem #e580ff;
}
#btn4:hover:not([disabled]){
    transform: scale(1.1);
    background-color: #d7f4d7;
    border-color: #87de87;
    box-shadow: 0 0 1rem #87de87;
}
#btn5:hover:not([disabled]){
    transform: scale(1.1);
    background-color: #d5e5ff;
    border-color: #80b3ff;
    box-shadow: 0 0 1rem #80b3ff;
}

#restartContainer button{
    margin: 0 12px;
    width: 96px;
    height: 36px;
    padding: 0px 8px;
    border-radius: 5px;
    border: 1px solid #969696;
    box-shadow: 2px 2px rgba(18, 18, 18, 0.7);
    background-color: #d8d8d8;
    transition: all .08s ease;
    font-size: 15px;
    font-weight: 700;
}

#restartContainer button:hover{
    transform: scale(1.1);
    background-color: #a8a8a8;
    border-color: #6b6c6d;
    box-shadow: 0 0 1rem #6b6c6d;
}

.gameResults .fa-solid {
    font-size: 36px;
}

.footer {
    background-color: #121212;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #F9FAF8;
}

.fa-github {
    margin: 12px;
    color: #F9FAF8;
    font-size: 18px;
}
